/.CFUserTextEncoding
/.DS_Store
/.ShadowsocksX-NG
/.Trash
/.config
/.cups
/.gitconfig
/.idlerc
/.ipython
/.vscode
/.zprofile
/.zsh_history
/.zsh_sessions
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/mlink